<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="/js/app.js"></script>
</head>

<body>
  {{>header}}
  <p>This site was created by SMutlu.It uses data from mapbox and weatherstack</p>
  <img class="portrait" src="./images/robot.png" alt="">
  {{>footer}}

</body>

</html>